<server>
    <dataSource id="DefaultDataSource" jndiName="jdbc/mySQL">
        <jdbcDriver libraryRef="MySQLLib" />
        <properties databaseName="${env.DB_NAME}" serverName="${env.DB_HOST}"
                    portNumber="${env.DB_PORT}" user="${env.DB_USER}" password="${env.DB_PW}" />
    </dataSource>
    <jndiEntry jndiName="kafkaHost" value="${env.KAFKA_HOST}" />
    <jndiEntry jndiName="kafkaPort" value="${env.KAFKA_PORT}" />
    <jndiEntry jndiName="kafkaTopic" value="${env.KAFKA_TOPIC}" />
</server>